@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
  font-family: 'Karla', sans-serif;
}

img {
  max-height: 200px;
  max-width: 100%;
}

#navMenu {
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 999;
}

textarea {
  height: 200px;
}

.container img {
  max-width: 100%;
}

.container {
  background-color: white;
}

.centered {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  font-size: 4px;
}

.top-centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8px;
  width: 70px;
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}

.welcome {
  margin-top: 50px;
}




